$white: #fff;
$light-black: #929292;
$black: #000;
$light-gray: #d8d7d7;
$medium-light-gray: #656565;
$gray: #919499;

$primary: #0095ff;
$primary-orange: #ec474d;
$blue: #42a6ff;
$red: #ec474d;
$green: #24a90c;
$green-dark: #1e8c0a;
$green-light: #27b70d;
$orange: #ff6931;
$pink: pink;
$yellow: #ff8f00;

$primary-light: #2d3741;

$facebook: #3b5998;
$google: #d34836;

$body: #f3f3f3;
$text: #33373d;
$border-color: #e1e1e1;

$success: #1aa71e;
$success-light: #1eb522;
